################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/

# Build outputs
bin/
obj/

# Compiled files
*.exe
*.dll
*.pdb

# Cache files
*.cache

# JSON files (except appsettings.json if you want to track it)
*.json
!appsettings.json